$hot-coral: #ff4f00;
$hot-coral-mid: #ff9e00;
$hot-coral-light: #ffcab2;

$midnight-blue: #231a4f;
$midnight-blue-mid: #736d8d;
$midnight-blue-light: #ceccd8;

$capser: #e4f1f5;
$casper-mid: #d6e5e9;
$casper-light: #f4f9fb;

$white: #ffffff;
$aqua-mid: #00e5f2;
$aqua: #00dbeb;
$aqua-dark: #39c9a4;

$blue-violet: #644cff;
$blue-violet-mid: #c898ff;
$blue-violet-light: #d2cbff;

$red: #e10505;
$green: #1a8410;

$charcoal: #787f86;

