@font-face {
  font-family: "LabGrotesqueO-Black";
  src: url("fonts/LabGrotesqueO-Black.woff")
    format("woff");
}
@font-face {
  font-family: "LabGrotesqueO-Bold";
  src: url("fonts/LabGrotesqueO-Bold.woff")
    format("woff");
}
@font-face {
  font-family: "LabGrotesqueO-Medium";
  src: url("fonts/LabGrotesqueO-Medium.woff")
    format("woff");
}
@font-face {
  font-family: "LabGrotesqueO-Regular";
  src: url("fonts/LabGrotesqueO-Regular.woff")
    format("woff");
}
