@font-face {
  font-family: "LabGrotesqueO-Black";
  src: url("https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Black.woff")
    format("woff");
}
@font-face {
  font-family: "LabGrotesqueO-Bold";
  src: url("https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Bold.woff")
    format("woff");
}
@font-face {
  font-family: "LabGrotesqueO-Medium";
  src: url("https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Medium.woff")
    format("woff");
}
@font-face {
  font-family: "LabGrotesqueO-Regular";
  src: url("https://d1tgie0box83ar.cloudfront.net/assets/LabGrotesqueO-Regular.woff")
    format("woff");
}
